name: Pre Release

on:
  push:
    tags:
      - "p*"
  workflow_run:
    workflows:
      - "Pre Bump"
    types:
      - completed

permissions:
  contents: write

env:
  tag: "-"

jobs:
  release:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v5
      - run: ls -alhR
      - name: 读取版本号
        run: |
          # 从 Git ref 中提取标签名称（带 p 前缀）
          TAG_NAME=${GITHUB_REF#refs/tags/}

          # 提取版本号（去掉 p 前缀）
          VERSION=$(echo "$TAG_NAME" | sed 's/^p//')

          echo "标签名->$TAG_NAME"
          echo "版本号->$VERSION"

          build=$(agvtool what-version -terse)

          echo "tag=$TAG_NAME" >> $GITHUB_ENV
      - name: Generate Changelog
        run: |
          chmod +x scripts/generate-changelog.sh
          ./scripts/generate-changelog.sh "${{ github.workspace }}-CHANGELOG.txt"
      - name: Display Changelog
        run: cat "${{ github.workspace }}-CHANGELOG.txt"
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.tag }}
          body_path: ${{ github.workspace }}-CHANGELOG.txt
          prerelease: true
          files: |
            ./**/*.dmg
            ./**/*.zip
            ./**/*.exe
            ./**/*.pkg
            ./**/*.deb
            ./**/*.ipa
            ./**/*.AppImage
            ./**/*.snap
